/* General Section */

html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}

/*==============================================================================

                        PARALLAX (Generic)

==============================================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*====================================================================
                        LOGIN
===================================================================*/

#login-page {
	height: 100%;
}

#login-bg-diagonal {
    width: 50%;
    height: 100%;
    float: left;
    background-image: url(../imgs/bg.jpg);
    border-top: 790px solid transparent;
    border-right: 100px solid #fff;
}

#heading-primary {
	background-color: #fff;
	width: 250px;
	margin: 0 auto;
	border-radius: 20px;
    margin-top: -500px;
}

#heading-primary-right {
	background-color: deepskyblue;
	width: 250px;
	margin-left: 20%;
	border-radius: 20px;
    margin-top: 10%;
}

#login-bg-diagonal h1 {
	font-size: 350%;
	text-align: center;
	color: deepskyblue;
}

#heading-primary-right h1 {
	color: #fff;
	text-align: center;
}

#content-box {
    width: 100%;
}

.color-green{
    color: green !important;
} 


.checker{
	color: #fff;
	background: deepskyblue;
	padding:5px 10px;
	margin-left: 2px;
    border-radius: 25px;
	text-decoration: none;
	text-align: center;
}



@media (min-width: 768px) {
	#content-box-outer {
    margin-top: 50%;
	}
}

@media (max-width: 768px) {
	#content-box-outer {
    margin-top: 10%;
	}
}

<<<<<<< HEAD
.head {
    height: 3rem !important;
    position: relative !important;
	font-family: 'Raleway', sans-serif;
	font-size: 1em !important;
    padding:2em 0.63em !important;
    
    background-image: linear-gradient(135deg,#000000 0%,#7f8c8d 74%);
    color: #fff;
    padding-bottom:20px;
}

nav{
	position:absolute;

    right:20px;
    top:20px;
}

nav a {
	text-decoration: none;
	color:white;
	border:1px solid #00bfff;
	background-color: #00bfff;
	border-radius:25px;
	padding:5px 10px;
	font-family: 'Raleway', sans-serif;
    font-size: 1em !important;
}

.header{
	font-weight:bold;
	color:white;
	border:1px solid #00bfff;
	background-color: #00bfff;
	border-radius:25px;
	padding:5px 10px;
	display: inline;
}

.head a{
    text-decoration: none;
    color: #fff;
}


=======
>>>>>>> 187d7b8f627ca4d3299e44a47779a7d2dbb9cee5
