/* General Section */

html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}

/*==============================================================================

                        PARALLAX (Generic)

==============================================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*====================================================================
                        LOGIN
===================================================================*/

#login-page {
	height: 100%;
}

#login-bg-diagonal {
    width: 50%;
    height: 100%;
    float: left;
    background-image: url(../imgs/bg.jpg);
    border-top: 790px solid transparent;
    border-right: 100px solid #fff;
}

#heading-primary {
	background-color: #fff;
	width: 250px;
	margin: 0 auto;
	border-radius: 20px;
    margin-top: -500px;
}

#heading-primary-right {
	background-color: deepskyblue;
	width: 250px;
	margin-left: 20%;
	border-radius: 20px;
    margin-top: 10%;
}

#login-bg-diagonal h1 {
	font-size: 350%;
	text-align: center;
	color: deepskyblue;
}

#heading-primary-right h1 {
	color: #fff;
	text-align: center;
}

#content-box {
    width: 100%;
}

.color-green{
    color: green !important;
} 
.form__input {
    font-size: 1.2em;
    font-family: inherit;
    color: inherit;
    padding: .8rem 2rem;
    border-radius: 8px;
    background-color: rgba(255,255,255, .5);
    border: none;
    border-bottom: 3px solid transparent;
    box-shadow: 1px 1px 2px rgba(0,0,0, .1);
    width: 100%; 
    display: block;
    transition: all .3s;
}
.btn--blue {
    background-color: deepskyblue;
    color: #fff;
    width: 100% !important;
}

.btn-blue::after {
    background-color: deepskyblue;
}   
.btn,
.btn:link,
.btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .4rem 1.8rem;
        display: inline-block;
        border-radius: 1.3rem;
        transition: all .2s;
        position: relative;
        font-size: 1rem;   
        margin-bottom: .5rem;
        border: none;
        cursor: pointer;
}

@media (min-width: 768px) {
	#content-box-outer {
    margin-top: 50%;
	}
}

@media (max-width: 768px) {
	#content-box-outer {
    margin-top: 10%;
	}
}